@import "~bootstrap/scss/bootstrap";
@import "./styles/index.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root,
.App,
.page-layout {
  min-height: 100vh;
}

.Toastify__toast {
  padding: 0;
}

.toast {
  border: none;
}
